#yes | yum install -y -q wget rpmdevtools rpm-build tree yum-utils createrepo openssl-devel

sudo useradd builder
sudo usermod -a -G builder builder

yum groupinstall -y "Development Tools" && yum -y install rpmdevtools yum-utils wget epel-release vim
#cd /home/vagrant/

#wget nginx.org/packages/centos/7/SRPMS/nginx-1.10.0-1.el7.ngx.src.rpm
#rpm -i nginx-1.14.1-1.el7_4.ngx.src.rpm 
#wget https://www.openssl.org/source/latest.tar.gz
#tar -xvf latest.tar.gz
#yum-builddep rpmbuild/SPECS/nginx.spec

rpmdev-setuptree
mv /root/rpmbuild/ /home/vagrant/
#echo "[nginx]
#name=nginx repo
#baseurl=http://nginx.org/packages/mainline/centos/7/$basearch/
#gpgcheck=0
#enabled=1#

#[nginx-source]
#name=nginx source repo
#baseurl=http://nginx.org/packages/mainline/centos/7/SRPMS/
#gpgcheck=1
#enabled=0
#gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-7
#" >> /etc/yum.repos.d/nginx.repo;

#yum update

#cd /tmp
yumdownloader --source nginx

#wget https://nginx.org/packages/centos/7/SRPMS/nginx-1.14.1-1.el7_4.ngx.src.rpm
sudo rpm -Uvh nginx*.src.rpm
#yum localinstall nginx*.src.rpm

yum-builddep -y nginx

#cd /root/
wget https://www.openssl.org/source/latest.tar.gz
tar -xzvf latest.tar.gz

wget https://gist.github.com/lalbrekht/6c4a989758fccf903729fc55531d3a50/archive/8104e513dd9403a4d7b5f1393996b728f8733dd4.zip
#file=$(unzip -l 8104e513dd9403a4d7b5f1393996b728f8733dd4.zip)
#echo $file

#unzip -c /home/vagrant/8104e513dd9403a4d7b5f1393996b728f8733dd4.zip 6c4a989758fccf903729fc55531d3a50-8104e513dd9403a4d7b5f1393996b728f8733dd4/gistfile1.txt > /home/vagrant/rpmbuild/SPECS/nginx.spec

unzip 8104e513dd9403a4d7b5f1393996b728f8733dd4.zip
cat 6c4a989758fccf903729fc55531d3a50-8104e513dd9403a4d7b5f1393996b728f8733dd4/gistfile1.txt > /home/vagrant/rpmbuild/SPECS/nginx.spec
sed -i 's/1.1.1a/1.1.1c/' /home/vagrant/rpmbuild/SPECS/nginx.spec

cd /home/vagrant/rpmbuild/SPECS/
rpmbuild -ba nginx.spec

cd /home/vagrant/rpmbuild/RPM/
rpm -Uvh nginx*.rpm