[pgmaster]
description =  "Backup from pgmaster"
conninfo = host={{ master_hostname }} user={{ barman_user }} dbname={{ base }}
streaming_conninfo = host={{ master_hostname }} user={{ barman_user }} dbname={{ base }}
backup_method = postgres
streaming_archiver = on
slot_name = {{ barman_slot }}
archiver = off